<img id="clo-header-image" src="img/clo-header.png" alt="The Carlyle Letters Online" data-url-prepend-attr="src" loading="lazy" border="0" />
<div id="clo-nav-div" class="d-flex w-100 justify-content-center">
  <div id="clo-nav-links-div" class="d-flex justify-content-around align-items-center p-2">
    <a href="/">Home</a>
    <a href="/browse-volume">Browse Letters</a>
    <a href="/rubenstein">Rubenstein Collection</a>
    <a href="/photo-album">Carlyle Photograph Albums</a>
    <div class="d-inline-block dropdown">
      <button aria-haspopup="true" role="button" data-toggle="dropdown" id="aboutDropdown" class="dropdown-toggle btn btn-link" aria-expanded="true">About CLO</button>
      <div aria-labelledby="aboutDropdown" id="aboutDropdownList" x-placement="bottom-left" class="dropdown-menu" style="top: 0px; left: 0px; will-change: transform; position: absolute; transform: translate(0px, 38px);">
        <a class="dropdown-item" href="/about-carlyles">The Carlyles</a>
        <a class="dropdown-item" href="/about-project">Online Project</a>
        <a class="dropdown-item" href="/about-printedEdition">Printed Edition</a>
        <a class="dropdown-item" href="/about-editorial-methods">Editorial Methods</a>
        <a class="dropdown-item" href="/about-editors">Editors</a>
        <a class="dropdown-item" href="/about-supporters">Supporters</a>
        <a class="dropdown-item" href="/about-technical">Technical Team</a>
        <a class="dropdown-item" href="/about-copyright">Copyright and Permissions</a>
      </div>
    </div>
    <app-search>
      <div id="searchWrap" class="p-2">
        <div id="searchInput">
          <div id="formField">
            <input type="text" aria-label="Search" placeholder="Search" size="27" class="clo-search-bar">
          </div>
          <a href="/search-results/" style="font-size: 14px!important;">Advanced Search</a>
        </div>
      </div>
    </app-search>
  </div>
</div>
